<ul>
  <li>
    Docs:
    <a class="header-link" href="http://brunch.io/#documentation">Brunch</a> /
    <a class="header-link" href="http://docs.chaplinjs.org">Chaplin</a>
  </li>
  <li>
    GitHub issues:
    <a class="header-link" href="https://github.com/brunch/brunch/issues">Brunch</a> /
    <a class="header-link" href="https://github.com/chaplinjs/chaplin/issues">Chaplin</a>
  </li>
  <li><a class="header-link" href="https://github.com/paulmillr/ostio">Ost.io example app</a></li>
</ul>
