@import 'nib'

.header
  width: 446px
  margin: 0 auto
  padding: 10px
  border-bottom-right-radius: 5px
  border-bottom-left-radius: 5px
  background-color: #d2dcf5

  &-link
    margin-right: 32px
    color: #36427e
    &:last-child
      margin-right: 0
