@import 'nib'

.header
  width: 476px
  margin: 0 auto
  padding: 10px
  border-bottom-right-radius: 5px
  border-bottom-left-radius: 5px
  background-color: #4276b6

  &-link
    margin-right: 32px
    text-decoration: none
    color: #eee

    &:visited
      color: #eee

    &:hover
      text-decoration: underline

    &:last-child
      margin-right: 0
