@import 'nib'

.navigation
  width: 480px
  margin: 0 auto
  padding: 10px
  border-bottom-right-radius: 5px
  border-bottom-left-radius: 5px
  background-color: #91a2c0

  &-link
    margin-right: 20px
    color: #fff
