@import 'nib'

.header
  width: 551px
  margin: 0 auto
  padding: 5px
  font-size: 24px
  background-color: #4276b6

  &-link
    // margin-right: 32px
    text-decoration: none
    color: #eee

    &:visited
      color: #eee

    &:hover
      text-decoration: underline
  ul
    margin: 5px 0
